/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   background:  linear-gradient(
        90deg, rgba(233,228,26,0.7903536414565826) 0%, rgba(121,9,102,0.5690651260504201) 35%, rgba(102,0,255,0.9836309523809523) 100%); }
